/* For Padding */
.hero-wrapper {
    height: 100vh;
    padding: 8px;
}

.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: calc(100vh - 16px);
    padding: 4rem 10%;
    border-radius: 30px;
    color: var(--text, hsl(0, 0%, 95%));
    overflow: hidden;
}

/* Dark Gradient Layer */
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--gradient-dark);
    background-size: cover;
    background-position: center;
    opacity: 1;
    transition: opacity 0.5s ease;
    z-index: -1;
}

/* Light Gradient Layer */
.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--gradient-light);
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: -1;
}

/* Switch to light mode opacity */
body.light .hero::before {
    opacity: 0;
}

body.light .hero::after {
    opacity: 1;
}

.scroll-down-icon-wrapper {
    position: absolute;
    width: var(--nav-logo-size);
    height: var(--nav-logo-size);
    display: inline-block;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    z-index: 10;
}

.scroll-down-icon {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    /* border: 2px solid var(--text); */
    box-shadow: var(--shadow-m);
    background: var(--nav-background);
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.scroll-down-icon:hover, 
.scroll-down-icon:focus {
    transform: translateY(4px);
    box-shadow: var(--shadow-m);
}

.scroll-down-icon:active {
    transform: scale(0.9);
}

.scroll-down-icon svg {
    width: 50%;
    height: 50%;
    fill: var(--text-muted);
    stroke: none;
    display: block;
}