/* For Padding */
.hero-wrapper {
    height: 100vh;
    padding: 8px;
}

.hero {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: calc(100vh - 16px);
    padding: 4rem 10%;
    border-radius: 30px;
    color: var(--text, hsl(0, 0%, 95%));
    overflow: hidden;
}

/* Dark Gradient Layer */
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--gradient-dark);
    background-size: cover;
    background-position: center;
    opacity: 1;
    transition: opacity 0.5s ease;
    z-index: -1;

}

/* Light Gradient Layer */
.hero::after {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--gradient-light);
    background-size: cover;
    background-position: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    z-index: -1;
}

/* Switch to light mode opacity */
body.light .hero::before {
    opacity: 0;
}

body.light .hero::after {
    opacity: 1;
}

/* .hero::before,
.hero::after {
    background-size: cover;
    background-position: center;
} */

/* .hero::part(grain),
.hero .grain {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    /* stays behind content but above gradient layers */
/* background-image: url("https: //arc.net/noise-light.png");
    background-size: 200px 200px;
    opacity: 0.07;
    pointer-events: none;
} */