/* -------------------------------------------------------
    ROOT & RESET
------------------------------------------------------- */
:root {
    --primary: hsl(34, 99%, 51%);
    --bg-dark: hsl(0, 0%, 0%);
    --bg: hsl(0, 0%, 5%);
    --bg-light: hsl(0, 0%, 10%);
    --text: hsl(0, 0%, 95%);
    --text-muted: hsl(0, 0%, 70%);
    --border: hsl(0, 0%, 30%);
    --highlight: hsl(0, 0%, 60%);

    --nav-background: hsla(0, 0%, 4%, 50%);
    --nav-background-idle: hsla(0, 0%, 4%, 75%);
    --nav-blur: 20px;
    --nav-border: hsla(0, 0%, 30%, 50%);
    

    /* Gradients */
    --gradient: linear-gradient(0deg, var(--bg), var(--bg-light));
    --gradient-hover: linear-gradient(0deg, var(--bg) 95%, var(--bg-light));

    /* Typography */
    --font-body: "Noto Sans JP", sans-serif;
    --font-heading: "Fira Sans", sans-serif;
    --font-navbar: "Roboto Mono", sans-serif;
    --font-title: "Syne", sans-serif;

    /* Font Styles */
    --text-p: 400 1rem/1.5 var(--font-body);
    --text-h1: 600 3rem/1.2 var(--font-heading);
    --text-h2: 600 2rem/1.3 var(--font-heading);

    /* Spacing */
    --space-1: 4px;
    --space-2: 8px;
    --space-3: 16px;
    --space-4: 24px;
    --space-5: 40px;
    --space-6: 80px;

    /* Transitions */
    --transition: all 0.25s ease-in-out;
    --transition-bg: background-color 0.2s cubic-bezier(0.77, 0, 0.175, 1);
    --hover-bg: rgba(255, 255, 255, 0.05);
    --hover-bg2: rgba(255, 255, 255, 0.15);


    /* Shadows */
    --shadow-s: inset 0 1px 2px #ffffff30,
            /* top highlight */
            0 1px 2px #00000030,
            /* dark shadow */
            0 2px 4px #00000015;
            /* soft shadow */
    --shadow-s-idle: 0 1px 2px #00000030,
            /* dark shadow */
            0 2px 4px #00000015;
            /* soft shadow */
    --shadow-m: inset 0 1px 2px #ffffff50,
            /* top highlight */
            0 2px 4px #00000030,
            /* dark shadow */
            0 4px 8px #00000015;
            /* soft shadow */
    --shadow-m-idle: 0 1px 2px #00000030,
            /* dark shadow */
            0 2px 4px #00000015;
            /* soft shadow */
            
    --glass-border: 
            inset 0 1px 2px #ffffff50, 
            var(--glass-outline), 
            0 1px 2px #00000030,
            0 2px 4px #00000015;

    --glass-outline: 0px 0px 0px 2px rgba(32, 0, 36, 0.11);
    --glass-outline-light: 0px 0px 0px 1px rgba(32, 0, 36, 0.11);

    --nav-radius: 8px;
    --icon-size: 24px;
    --nav-max-height: 60px;
    --nav-font-size: 16px;
    --nav-logo-size: 40px;

    /* Hero Section */
    --gradient-start: hsl(350deg 100% 7%);
    --gradient-mid:   hsl(47deg 100% 13%);
    --gradient-end:   hsl(47deg 100% 47%);
    --gradient-angle: 145deg;

    --gradient-custom: linear-gradient(var(--gradient-angle),
                                       var(--gradient-start),                 
                                       var(--gradient-mid) 40%,                 
                                       var(--gradient-mid) 60%,                 
                                       var(--gradient-end));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* -------------------------------------------------------
    LIGHT THEME
------------------------------------------------------- */
body.light {
    --bg-dark: hsl(0, 0%, 90%);
    --bg: hsl(0, 0%, 95%);
    --bg-light: hsl(0, 0%, 100%);
    --text: hsl(0, 0%, 5%);
    --text-muted: hsl(0, 0%, 20%);
    --border: hsl(0, 0%, 60%);
    --highlight: hsl(0, 0%, 0%);

    --nav-background: hsla(0, 0%, 96%, 50%);
    --nav-background-idle: hsla(0, 0%, 96%, 75%);
    --nav-blur: 20px;

    --transition-bg: background-color 0.2s cubic-bezier(0.77, 0, 0.175, 1);
    --hover-bg: rgba(0, 0, 0, 0.05);
    --hover-bg2: rgba(0, 0, 0, 0.10);

    --glass-outline: 0px 0px 0px 2px rgba(233, 0, 219, 0.11);
    --glass-outline-light: 0px 0px 0px 1px rgba(233, 0, 219, 0.11);

    /* Hero Section */
    --gradient-custom: linear-gradient(145deg, hsl(350deg 100% 93%), hsl(47deg 100% 87%) 40%, hsl(47deg 100% 87%) 60%, hsl(47deg 100% 53%));
}

/* -------------------------------------------------------
    BASE STYLES
------------------------------------------------------- */
html {
    scroll-behavior: smooth;
}

body {
    font: var(--text-p);
    background: var(--bg-dark);
    color: var(--text);
    transition: var(--transition);
    text-wrap: balance;
}

.content {
    margin: 1rem auto;
    max-width: min(90vw, 1200px);
}

/* -------------------------------------------------------
    TYPOGRAPHY
------------------------------------------------------- */
h1 {
    font-family: var(--text-h1);
    color: var(--text);
    margin-bottom: var(--space-3);
}

h2 {
    font-family: var(--text-h2);
    color: var(--text);
    margin-bottom: var(--space-2);
}

p {
    font-family: var(--text-p);
    color: var(--text-muted);
    margin-bottom: var(--space-3);
}

/* -------------------------------------------------------
    LAYOUT ELEMENTS
------------------------------------------------------- */
section {
    min-height: 100vh;
    padding: var(--space-5) 0;
}

/* -------------------------------------------------------
    HEADER
------------------------------------------------------- */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: var(--space-3); */
}

/* -------------------------------------------------------
    BUTTONS
------------------------------------------------------- */
button {
    cursor: pointer;
    font-weight: 600;
    color: var(--text);
    background: var(--bg);
    border: 1px solid var(--nav-border);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    transition: var(--transition);
}

button:hover {
    background: var(--bg-light);
}

button:focus {
    outline: 2px solid var(--highlight);
    outline-offset: 2px;
}

/* -------------------------------------------------------
    NAVBAR
------------------------------------------------------- */
.nav-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(90vw, 1200px);
    background: var(--nav-background-idle);
    backdrop-filter: blur(var(--nav-blur));
    border-radius: 0px 0px 14px 14px;
    padding: 10px var(--space-4);
    z-index: 100;
    transition: var(--transition);
    box-shadow: var(--shadow-m-idle);
}

.nav-container.scrolled {
    max-height: var(--nav-max-height);
    overflow: hidden;
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: min(90vw, 900px);
    background: var(--nav-background);
    backdrop-filter: blur(var(--nav-blur));
    /* border: 1px solid var(--border); */
    border-radius: 14px;
    padding: 10px var(--space-4) var(--space-2) var(--space-4);
    z-index: 100;
    transition: var(--transition);
    box-shadow: var(--shadow-m);
}

.navbar {
    align-items: center;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Nav Logo */
.logo-links {
    display: flex;
    align-items: center;
    gap: var(--space-2);
    height: 40px;
}

.logo-links a { 
    color: transparent;
    text-decoration: none;
}

.logo-links p {
    font-family: "Syne", sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    color: var(--text-muted);
    text-decoration: none;
    border-radius: var(--nav-radius);
    padding: 5px var(--space-2);
    transition: var(--transition-bg);
    will-change: background-color;
    margin: 0 auto;
}

.logo-links p:hover, 
.logo-links p:focus {
    background-color: var(--hover-bg);
    color: var(--text);
    transition: var(--transition-bg);
}

.nav-logo {
    width: var(--nav-logo-size);
    height: var(--nav-logo-size);
    object-fit: cover;
}

.nav-links a,
.nav-logo-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
}


/* Nav Page Links */
.nav-links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: var(--space-1);
    height: 40px;
}

@media (max-width: 900px) {
    .logo-links p {
        opacity: 0;
        transition: var(--transition-bg);
    }
}

@media (max-width: 700px) {
    .nav-links {
        display: none;
    }
    .navbar {
        justify-content: space-between;
    }
}

.nav-links a {
    font-family: var(--font-navbar);
    font-weight: 750;
    letter-spacing: 0.25px;
    text-transform: uppercase;
    color: var(--text-muted);
    text-decoration: none;
    border-radius: var(--nav-radius);
    padding: 10px var(--space-3);
    transition: var(--transition-bg);
    will-change: background-color;
    background-color: var(--hover-bg);
}

.nav-links a:hover {
    background-color: var(--hover-bg2);
}

.nav-links a.selectedPage {
    color: var(--text);
}

/* Nav Logo Buttons */
.nav-actions {
    display: flex;
    align-items: center;
    gap: var(--space-2);
}

.nav-actions .nav-social {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: var(--space-2) var(--space-2);
    border-radius: var(--nav-radius);
    text-decoration: none;
    color: var(--text-muted);
    transition: background-color 0.2s cubic-bezier(0.77, 0, 0.175, 1), color 0.2s cubic-bezier(0.77, 0, 0.175, 1);
    will-change: background-color, color;
}

.nav-container button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    cursor: pointer;
    color: var(--text-muted);
    transition: background-color 0.2s cubic-bezier(0.77, 0, 0.175, 1), color 0.2s cubic-bezier(0.77, 0, 0.175, 1);
    will-change: background-color, color;
    border-radius: var(--nav-radius);
    padding: var(--space-2) var(--space-2);
    border: none;
    outline: none;
}

.nav-container button:hover, 
.nav-actions .nav-social:hover {
    background-color: var(--hover-bg);
    color: var(--text);
}

.nav-container button:focus {
    color: var(--text);
}

.nav-container button svg,
.nav-actions .nav-social svg {
    width: 1.5em;
    height: 1.5em;
    display: block;
    fill: currentColor;
    stroke: none;
}

.nav-links a,
.nav-actions .nav-social,
.nav-container button {
    font-size: var(--nav-font-size);
}

/* -------------------------------------------------------
    FOOTER
------------------------------------------------------- */

.footer {
    background: var(--bg-light);
    color: var(--text-muted);
    padding: 8rem var(--space-4) 8rem var(--space-4);
    text-align: center;
    font-size: 0.875rem;
    border-top: 1px solid var(--clr-border);
    /* border-radius: 2rem 2rem 0 0; */
    box-shadow: var(--shadow-m);
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: min(90vw, 900px);
    margin: 0 auto;
    gap: var(--space-2);
} 

.footer-left {
    flex: 1;
}

.footer-right {
    display: flex;
    align-items: center;
    gap: var(--space-2);
}

.footer-link {
    color: var(--text-muted);
    text-decoration: none;
    transition: color 0.2s ease;
}

.footer-link:hover {
    color: var(--text);
}

.footer-separator {
    margin: 0 0.25rem;
    color: var(--text-muted);
}